trigger:
  batch: true
  branches:
    include:
    - '*'
pr:
  paths:
    exclude:
      - "*.md"

jobs:

- job: 'Test'
  strategy:
    matrix:
      Python36Linux:
        imageName: 'ubuntu-latest'
        python.version: '3.6'
      Python36Windows:
        imageName: 'windows-2019'
        python.version: '3.6'
      Python38Linux:
        imageName: 'ubuntu-latest'
        python.version: '3.8'
      Python38Windows:
        imageName: 'windows-latest'
        python.version: '3.8'
      Python38Mac:
        imageName: 'macos-latest'
        python.version: '3.8'
      Python39Linux:
        imageName: 'ubuntu-latest'
        python.version: '3.9'
      Python39Windows:
        imageName: 'windows-latest'
        python.version: '3.9'
      Python39Mac:
        imageName: 'macos-latest'
        python.version: '3.9'
      Python310Linux:
        imageName: 'ubuntu-latest'
        python.version: '3.10'
      Python310Windows:
        imageName: 'windows-latest'
        python.version: '3.10'
      Python310Mac:
        imageName: 'macos-latest'
        python.version: '3.10'
      Python311Linux:
        imageName: 'ubuntu-latest'
        python.version: '3.11'
      Python311Windows:
        imageName: 'windows-latest'
        python.version: '3.11'
      Python311Mac:
        imageName: 'macos-latest'
        python.version: '3.11'
    maxParallel: 4
  pool:
    vmImage: $(imageName)

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'
      allowUnstable: true

  - script: |
      python -m pip install --upgrade pip setuptools
      pip install -r requirements.txt
    displayName: 'Install dependencies'

  - script: |
      python setup.py build_ext --inplace
      python setup.py sdist --formats=gztar
    displayName: 'Build sdist'

  - task: DeleteFiles@1
    inputs:
      contents: 'srsly'
    displayName: 'Delete source directory'

  - script: |
      pip freeze > installed.txt
      pip uninstall -y -r installed.txt
    displayName: 'Uninstall all packages'

  - bash: |
      SDIST=$(python -c "import os;print(os.listdir('./dist')[-1])" 2>&1)
      pip install dist/$SDIST
    displayName: 'Install from sdist'

  - script: |
      pip install -r requirements.txt
      python -m pytest --pyargs srsly
    displayName: 'Run tests'
