name: Build wheels

on:
  push:
    branches: [master]
  pull_request:
    branches: ["*"]
  workflow_dispatch: # allows you to trigger manually

# When this workflow is queued, automatically cancel any previous running
# or pending jobs from the same branch
concurrency:
  group: Build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_wheels:
    uses: explosion/gha-cibuildwheel/.github/workflows/cibuildwheel.yml@main
    permissions:
      contents: write
      actions: read
    with:
      wheel-name-pattern: "srsly-*.whl"
      pure-python: false
      create-release: ${{ startsWith(github.ref, 'refs/tags/release-') || startsWith(github.ref, 'refs/tags/prerelease-') }}
    secrets:
      gh-token: ${{ secrets.GITHUB_TOKEN }}
